<ion-header>
  <ion-toolbar>
    <ion-title>
      Baby Names
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-searchbar animated placeholder="Filter Names" (ionChange)="test($event)"></ion-searchbar>

<ion-content>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Names</ion-label>
    </ion-list-header>
    <ion-virtual-scroll [items]="items" [trackBy]="trackByIdentity">
      <ion-item *virtualItem="let item">
        <ion-avatar>{{ item.gender }}</ion-avatar>
        <ion-label>
          {{ item.name }} <br />
          {{ item.meaning }}
        </ion-label>
      </ion-item>
    </ion-virtual-scroll>
  </ion-list>
</ion-content>
