<ion-header>
  <ion-toolbar>
    <ion-title>
      Baby Names
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-searchbar
  animated
  placeholder="Filter Names"
  debounceTime="300"
  (ionChange)="test($event)"
></ion-searchbar>

<ion-content>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Names</ion-label>
    </ion-list-header>
    <ion-virtual-scroll [items]="items" [trackBy]="trackByIdentity">
      <ion-item *virtualItem="let item">
        <ion-avatar>{{ item.gender }}</ion-avatar>
        <div>
          <p>
            <b>{{ item.name }}</b>
          </p>
          <p>{{ item.meaning }}</p>
        </div>
      </ion-item>
    </ion-virtual-scroll>
  </ion-list>
</ion-content>
