.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

ion-title {
  font-weight: 900;
}

p {
  margin: 6px 0;
  &:nth-child(2) {
    color: grey;
  }
}

div {
  padding: 5px 10px;
  width: calc(100% - 40px);
}

ion-item {
  border-bottom: 1px solid rgba(204, 204, 204, 0.6);
}

ion-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #673ab7;
  color: white;
}
